@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


* {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

li {
  list-style: none;
}

.classic-box {
  background-color: #F4F4F4;
  border: .5px solid #979494;
  filter: drop-shadow(4px 4px 10px #b0b0b0);
}

.border-main {
  border-top: .5px solid #D9D9D9;
}

.bg-main {
  background: linear-gradient(
    180deg,
    rgba(5, 20, 39, 1) 0%,
    rgba(84, 13, 27, 1) 51%,
    rgba(167, 66, 35, 1) 100%
  );
}

.bg-main-h {
  background: linear-gradient(
    270deg,
    rgba(5, 20, 39, 1) 0%,
    rgba(84, 13, 27, 1) 63%,
    rgba(167, 66, 35, 1) 96%
  );
}

.bg-button {
  background: linear-gradient(
    180deg,
    #AA4243 0%,
    #550d1c 100%
  );
}

.text-phc {
  color: #acacac;
}

.text-ph::placeholder {
  color: #acacac;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px; /* Base: telas médias (ex: 768px) */
}

@media (max-width: 480px) {
  html {
    font-size: 14px; /* Telas pequenas: celular */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 17px; /* Telas grandes: notebook */
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 18px; /* Telas muito grandes: desktop grande */
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 19px; /* Telas ultra-wide */
  }
}

