@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

li {
  list-style: none;
}
